<template>
    <div class="app-container">
        <div class="app-menu">
            <p class="title-white">WEBSANDBOX APP</p>
            <div class="divider"></div>
            <div class="menu">
                <router-link :to="{name: 'dashboardUser'}" class="nav-bar-item">Dashboard</router-link>
                <router-link :to="{name: 'dashboardUser'}" class="nav-bar-item">Account</router-link>
                <router-link :to="{name: 'dashboardUser'}" class="nav-bar-item">WebSandBox.io</router-link>
                <router-link :to="{name: 'dashboardUser'}" class="nav-bar-item">Dashboard Admin</router-link>
            </div>
            <div class="divider"></div>
            <div class="info-account">
                <img src="../assets/svg/avatar.svg" alt="avatar" class="avatar">
                <p class="text-light">{{ user.username }}<br>{{ user.email }}</p>
                <p>Pack : Free</p>
                <a :href="clientUrl + '/pricing'" class="btn">Upgrade</a>
            </div>
            <div class="divider"></div>
        </div>
        <router-view class="app-workspace"/>
    </div>
</template>

<script>
import store from '../config/store'
import Vuex from 'vuex'

export default {
    name: 'Header',
    store: store,
    data() {
        return {
            clientUrl: process.env.VUE_APP_CLIENT_URL
        }
    },
    computed: {
        ...Vuex.mapGetters(['user'])
    },
}
</script>

<style scoped>
    .app-container {
        height: 100vh;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .app-menu {
        padding: 20px 0;
        height: 100%;
        width: 240px;
        min-width: 240px;
        display: flex;
        background: url('../assets/svg/menu.svg');
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }

    .app-workspace {
        height: 100%;
        width: 100%;
        display: flex;
    }

    .divider {
        border-top: solid 1px white;
        height: 1px;
        width: 240px;
        margin: 20px;
    }

    .menu {
        padding: 15px 30px 15px 50px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .menu .nav-bar-item {
        font-size: 18px;
        text-decoration: none;
        font-weight: 300;
        color: white;
        margin-bottom: 20px;
    }

    .menu .nav-bar-item:last-child {
        margin-bottom: 0 !important;
    }

    .router-link-active {
        font-weight: 700;
    }

    .info-account {
        padding: 20px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }

    .avatar {
        width: 90px;
    }
</style>