<template>
    <div>
        <div>
            PLAYGROUND {{ user.email }}
        </div>
        <div style="margin-top: 20px">
            <editor
                v-model="content"
                @init="editorInit"
                lang="javascript"
                theme="chrome"
                width="500"
                height="100"
                :options="{
                    enableBasicAutocompletion: true,
                    enableLiveAutocompletion: true,
                    fontSize: 14,
                    highlightActiveLine: true,
                    enableSnippets: true,
                    showLineNumbers: true,
                    tabSize: 2,
                    showPrintMargin: false,
                    showGutter: true,
                }">
            </editor>
        </div>
    </div>
</template>

<script>
import { io } from 'socket.io-client';
import 'vue-loading-overlay/dist/vue-loading.css';
import store from '../config/store'
import Vuex from 'vuex'

export default {
    name: "Playground",
    store: store,
    components: {
        editor: require('vue2-ace-editor'),
    },
    data() {
        return {
            socket: {},
            connection: false,
            content: '',
            beforeContent: '',
        }
    },
    watch: {
        // Cool info here : https://jsfiddle.net/bc_rikko/gbpw2q9x/3/
        'content': function(data) {
            console.log(data)
            if (this.beforeContent !== data) {
                this.beforeContent = data;
                this.socket.emit('code', data)
            }
        },
        'user': function(user) {
            console.log(user);
        } 
    },
    computed: {
        ...Vuex.mapGetters(['user'])
    },
    methods: {
        ...Vuex.mapActions(['checkToken']),
        editorInit: function () {
            require('brace/ext/language_tools') //language extension prerequsite...
            require('brace/mode/html')       
            require('brace/mode/javascript')    //language
            require('brace/theme/chrome')
            require('brace/snippets/javascript') //snippet
        },
    },
    created() {
        this.socket = io(process.env.VUE_APP_API_URL);

    },
    mounted() {
        this.socket.on('newContent', (data) => {
            if (this.beforeContent !== data) {    
                this.content = data;
            }
        });
    }
}
</script>

<style scoped>

</style>