<template>
  <div id="app">
    <loading v-if="user.isConnected == 'pending'" :active.sync="isLoading" 
    :can-cancel="false" 
    :is-full-page="fullPage"></loading>
    <div v-else-if="!user.isConnected">
      <a :href="clientUrl + '/sign-in'">Sign In</a>
      <br>
      <a :href="clientUrl + '/sign-up'">Sign Up</a>
    </div>
    <div v-else>
      <Header />
    </div>
  </div>
</template>

<script>
import Header from './components/Header'
import Loading from 'vue-loading-overlay';
import store from './config/store'
import Vuex from 'vuex'

export default {
  name: 'App',
  store: store,
  components: {
    Header,
    Loading
  },
  data() {
    return {
        isLoading: true,
        fullPage: true,
        clientUrl: process.env.VUE_APP_CLIENT_URL
    }
  },
  methods: {
    ...Vuex.mapActions(['checkToken', 'noToken']),
  },
  computed: {
    ...Vuex.mapGetters(['user'])
  },
  mounted() {
    const token = localStorage.getItem('user-token')

    let uri = window.location.search.substring(1); 
    let params = new URLSearchParams(uri);

    if (token) {
      this.checkToken(token)
    } else if (params.get("token")) {
      this.checkToken(params.get("token"))
    } else {
      this.noToken()
    }
  }
}
</script>

<style>
:root {
	--color-primary-blue: #1E079B;
	--color-secondary-blue: #2539B0;
	--color-primary-pink: #EF2A82;
	--color-light: #FFFFFF;
}

#app {
  font-family: Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: var(--color-light);
}

html, body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

*,*::before,*::after {
  box-sizing: inherit;
}

.title {
	color: var(--color-primary-blue);
	font-weight: 700;
}

.title-white {
	color: white;
	font-weight: 700;
}

.text {
	color: var(--color-secondary-blue);
	font-weight: 500;
}

.text-light {
	color: var(--color-light);
	font-weight: 500;
}

.btn {
	padding: 10px 20px;
	color: white;
	background-color: var(--color-primary-pink);
	border-radius: 40px;
	font-size: 16px;
	font-weight: 500;
	cursor: pointer;
	outline: none;
	border: none;
  text-decoration: none;
}
</style>
